body, html{
    padding: 0;
    margin:0;
}
.top{
    display:grid;
    grid-template-columns: 1fr 350px 800px 1fr ;
    padding-top: 100px;
    padding-bottom: 150px;
}
.main-box{
    grid-area:1 / 2 / 2/ 3;

}
.container-box{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-area: 1 / 3 / 2/ 4;
}
#bottle {
    max-width:100%;
    height:auto;
    grid-area: 1 / 2 /2 /3;
    object-fit: cover;
    padding-top:30px;;
}
.bottom{
    display:grid;
    grid-template-columns: 1fr 500px 650px 1fr;
    padding-bottom:150px;
}
.main-box-2{
    grid-area: 1/ 3 /2 /4 ;
    display:flex;
    flex-direction: column;
}
.icon{
    max-width:15%;
    height:auto;
}
.icon-2{
    max-width:15%;
    height:auto;
}
.title{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    line-height: 32px;
    margin:0;
}
.features{
    width: 80%;
    padding-left:30px;
 
}
.description{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: #7A7A7A;
    font-size: 16px;
    line-height: 28px;
    margin-left:80px;
    margin-top:0;

}
.top-description{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: #7A7A7A;
    font-size: 16px;
    line-height: 28px;
    width: 70%;
}
h1{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    color: #000000;
    padding-left: 45px;
}
h2{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 36px;
    width: 80%;

}
.top-title{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000000;  
    margin: 0;
}
.box{
    display:flex;
    flex-direction: column;
}
.main-description{
    color: #666666;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    width: 80%;
}

@media only screen and (max-device-width:768px){
    *{
        
        box-sizing: border-box;
        
    }
    body{
        display: flex;
        flex-wrap: wrap;
        display:grid;
        grid-template-columns:  1fr 80% 1fr;
        grid-template-rows: 50% 50%;
    }
    .top {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-area: 1 / 2 /2/ 3;
        
      }
    .icon{
        max-width:15%;
        height:auto;
        align-self: center;
    }
    .container-box{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .top-description{
        align-self: center;
    }
    .main-description{
        align-self: center;
        width: 100%;
        color: #666666;
        font-size: 30px;
        line-height: 28px;
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
    }
    .bottom{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        grid-area: 2 / 2 /3/ 3;
        

    }

    h2{
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        font-size: 80px;
        width: 100%;
        text-align: center;

    }
    h1{
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        font-size: 80px;
        width: 100%;
        text-align:center;
        padding:0;


    }
    #bottle {
        max-width:100%;
        height:auto;
        object-fit: cover;
        
    }
    .top-title{
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        font-size: 35px;
        color: #000000;  
        margin: 0;
    }
    .top-description{
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        color: #7A7A7A;
        opacity: 0.7;
        font-size: 30px;
        line-height: 40px;
    }
    .features{
        padding: 0;
        margin:0;
        
    }
    .main-box-2{
        display: flex;
        align-items: center;
    }
    .description{
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        color: #7A7A7A;
        opacity: 0.7;
        font-size: 30px;
        line-height: 50px;
        padding-left: 5%;

    }
    .title{
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        font-size: 35px;
        color: #000000;  
        margin: 0


    }


}
@media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 1439px) {

    *{
        
        box-sizing: border-box;
        
    }
    body, html{
        padding: 0;
        margin:0;
    }
    .top{
        display:grid;
        grid-template-columns: 1fr 30% 50% 1fr ;
        flex-direction: column;
        align-items: center;
        

    }
    .bottom{
        display:grid;
        grid-template-rows: 70% 5% 25%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #bottle{
        max-width:80%;
        height:auto;
        object-fit: cover;

    }
    .features{
        grid-row-start: 2;
    }
    .main-box-2{
        display: grid;
        margin-left: 60px;
    }


}
